body
{
    font-family: "Ubuntu", Helvetica, Arial, sans-serif;
    font-style: normal;
}
.header
{
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    font-weight: 700;
}
.menu
{
    list-style-type: none;
    display: flex;
    margin: 0 auto;
    gap: 50px;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
}
.logo
{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.logo-svg
{
    display: block;
    width: 58px;
    height: 58px;
    margin-right: 25px;
    background-image: url(/Lab6/Imagine/mamon-logo.svg);
}
.logo-txt
{
    font-size: 24px;
    color: #202020;
}
.menu>li>a
{
    font-size: 14px;
    color: #202020;
    text-decoration: none;
}
.menu-button
{
    color: #FFFFFF;
    background-color: #5528FF;
    border-radius: 5px;
    border: none;
    font-weight: 700;
}

.subsection
{
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
}
.subsection h2
{
    position: absolute;
    top: 25px;
    font-size: 14px;
    font-weight: 300;
    background-color: #fff;
    padding: 5px 15px;
    color: #C2C2C2;
}
.wrap
{
    width: 100%;
    max-width: 1212px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}
.content
{
    padding-top: 75px
}
.content h1
{
    font-size: 58px;
    color: #202020;
    font-weight: 700;
    letter-spacing: 0.8px;
    margin-bottom: 0.4em;
}
.content p
{
    font-size: 32px;
    line-height: 1.6;
    color: #4F4F4F;
    max-width: 746px;
    margin-bottom: 2em;
}
.content-button
{
    background-color: #5528FF;
    border-radius: 10px;
    padding: 16px 59px;
    color: #fff;
    border: none;
    font-size: 24px;
}
.services
{
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    border-top: 1px solid #C2C2C2;
}
.grid-services
{
    display: grid;
    grid-template: repeat(2, 1fr) / 50% 50%;
    grid-row-gap: 38px;
}
.grid-services h3
{
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 17px;
    margin-top: 0;
}
.grid-services p
{
    font-size: 14px;
    color: #B2B2B2;
    line-height: 1.5;
}
.mobile
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.mobile-img
{
    flex-basis: 165px;
    text-align: center;
}
.mobile-text
{
    flex-basis: calc(80% - 165px);
}
.web
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.web-img
{
    flex-basis: 165px;
    text-align: center;
}
.web-text
{
    flex-basis: calc(80% - 165px);
}
.design
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.design-img
{
    flex-basis: 165px;
    text-align: center;
}
.design-text
{
    flex-basis: calc(80% - 165px);
}
.qa
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.qa-img
{
    flex-basis: 165px;
    text-align: center;
}
.qa-text
{
    flex-basis: calc(80% - 165px);
}

.clients
{
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    border-top: 1px solid #C2C2C2;
}
.grid-clients
{
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(4, 1fr);
    text-align: center;
    grid-row-gap: 44px;
}
.team
{
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    border-top: 1px solid #C2C2C2;
}
.grid-team
{
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    grid-row-gap: 51px;
}
.grid-team-item
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.team-img
{
    margin-right: 35px;
}
.team-text
{
    flex-basis: calc(100% - 100px);
}
.team-text h3
{
    font-size: 28px;
    color: #202020;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 7px;
}
.team-text p
{
    font-size: 14px;
    color: #B2B2B2;
}
footer
{
    margin-top: 50px;
    background-color: #F7F7F7;
}
.footer
{
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.social
{
    list-style: none;
    padding-left: 0;
    display: flex;
}
.social>li
{
    margin-left: 40px;
}
.social>li>a
{
    text-decoration: none;
    color: #B2B2B2;
    font-size: 24px;
}